In [11]:
#conditional parameters
import pandas as pd
countries_df = pd.read_csv(r'C:\Users\SAGAVERM\Desktop\DA dataset\top_10_countries.csv')
print(countries_df)

   Rank Country / Dependency    Region     Population % of world       Date
0     1                China      Asia  1,412,600,000     17.80%  31-Dec-21
1     2                India      Asia  1,386,946,912     17.50%  18-Jan-22
2     3        United States  Americas    333,073,186      4.20%  18-Jan-22
3     4         Indonesia[b]      Asia    271,350,000      3.42%  31-Dec-20
4     5             Pakistan      Asia    225,200,000      2.84%  01-Jul-21
5     6               Brazil  Americas    214,231,641      2.70%  18-Jan-22
6     7              Nigeria    Africa    211,401,000      2.67%  01-Jul-21
7     8           Bangladesh      Asia    172,062,576      2.17%  18-Jan-22
8     9            Russia[b]    Europe    146,171,015      1.84%  01-Jan-21
9    10               Mexico  Americas    126,014,024      1.59%  02-Mar-20

In [12]:
#conditional statement
countries_df[countries_df['Region']=='Asia']

   Rank Country / Dependency Region     Population % of world       Date
0     1                China   Asia  1,412,600,000     17.80%  31-Dec-21
1     2                India   Asia  1,386,946,912     17.50%  18-Jan-22
3     4         Indonesia[b]   Asia    271,350,000      3.42%  31-Dec-20
4     5             Pakistan   Asia    225,200,000      2.84%  01-Jul-21
7     8           Bangladesh   Asia    172,062,576      2.17%  18-Jan-22

In [ ]:
countries_df['Population'] = countries_df.Population.str.replace(',','')
countries_df['Population'] = countries_df.Population.astype(int)

In [34]:
countries_df[(countries_df['Region']=="Asia") & (countries_df['Population']>300000000)]

   Rank Country / Dependency Region  Population % of world       Date
0     1                China   Asia  1412600000     17.80%  31-Dec-21
1     2                India   Asia  1386946912     17.50%  18-Jan-22

In [36]:
countries_df[(countries_df['Region']=="Asia") & (countries_df['Population']>300000000)][['Rank','Country / Dependency','Region','Population']]

   Rank Country / Dependency Region  Population
0     1                China   Asia  1412600000
1     2                India   Asia  1386946912

In [37]:
countries_df['Region'].isin(['Asia', 'Americas']) #returns bool value in series

0     True
1     True
2     True
3     True
4     True
5     True
6    False
7     True
8    False
9     True
Name: Region, dtype: bool

In [38]:
#to filter the df using isin
countries_df[countries_df['Region'].isin(['Asia', 'Americas'])]

   Rank Country / Dependency    Region  Population % of world       Date
0     1                China      Asia  1412600000     17.80%  31-Dec-21
1     2                India      Asia  1386946912     17.50%  18-Jan-22
2     3        United States  Americas   333073186      4.20%  18-Jan-22
3     4         Indonesia[b]      Asia   271350000      3.42%  31-Dec-20
4     5             Pakistan      Asia   225200000      2.84%  01-Jul-21
5     6               Brazil  Americas   214231641      2.70%  18-Jan-22
7     8           Bangladesh      Asia   172062576      2.17%  18-Jan-22
9    10               Mexico  Americas   126014024      1.59%  02-Mar-20

In [39]:
#to return not in values
countries_df[~countries_df['Region'].isin(['Asia', 'Americas'])]

   Rank Country / Dependency  Region  Population % of world       Date
6     7              Nigeria  Africa   211401000      2.67%  01-Jul-21
8     9            Russia[b]  Europe   146171015      1.84%  01-Jan-21